# Dependencies
node_modules/

# Production output
dist/

# Env files
.env
.env.local

# IDEs & Editors
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Jest coverage
coverage/
